body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #E3F4F4;
}

h1 {
  margin-top: 30px;
  font-size: 60px;
  text-align: center;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#chat {
  background-color: white;
  border: 1px solid #cccccc;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px;
  height: 500px;
  border-radius: 5px;
  overflow-y: scroll;
}

#container {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pns-container {
  margin-top: 5px;
  padding: 8px;
  position: fixed;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px;
}

#message {
  width: 685px;
  padding-bottom: 15px;
  border: none;
  font-size: larger;
  margin-top: 2%;
  margin-right: 10px;
  display: inline-block;
}

#message:focus {
  outline: none;
}

button {
  width: 84px;
  background-color: white;
  color: black;
  padding: 12px;
  font-size: large;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:enabled {
  transition: 0.5s;
  opacity: 1;
  background-color: #0173ff;
}

p {
  margin: 5px 0;
}

.user {
  color: #000000;
}

.bot {
  color: #4caf50;
}
