<html>
  <head>
    <title>ChatBot</title>  
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    
  </head>
  <body>
    <h1>ChatBot</h1>
    <div id="container">
      <div id="chat"></div>
      <input type="text" id="message" placeholder="Enter prompt here" />
      <button type="submit" onclick="sendMessage()">
        <span class="material-symbols-outlined"> send </span>
      </button>
    </div>

    <script>
      document
        .getElementById("message")
        .addEventListener("keydown", function (event) {
          if (event.keyCode === 13) {
            event.preventDefault();
            sendMessage();
          }
        });
      function sendMessage() {
        const message = document.getElementById("message").value;
        const chat = document.getElementById("chat");
        chat.innerHTML +=
          '<div style="display: flex; align-items: center;"> <img src="https://i.pinimg.com/originals/83/bc/8b/83bc8b88cf6bc4b4e04d153a418cde62.jpg" width="50px" height="50px" style="border-radius: 50%;"> <p style=" width: 100%; padding: 10px; background-color: #01b7ff; font-size: large; border-radius: 5px; margin-bottom: 10px; margin-left: 20px;">' +
          message +
          "</p> </div>";
        fetch("/send_message", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ message: message }),
        })
          .then((response) => response.json())
          .then((data) => {
            chat.innerHTML +=
              '<div style="display: flex; align-items: center;"> <img src="https://st3.depositphotos.com/8950810/17657/v/450/depositphotos_176577870-stock-illustration-cute-smiling-funny-robot-chat.jpg" width="50px" height="50px" style="border-radius: 50%;"><p class="bot" style="width: 100%; padding: 10px; background-color: #1fff06; font-size: large; border-radius: 5px; margin-bottom: 10px; margin-left: 20px;"> ' +
              data.message +
              "</p> </div>";
          });
        document.getElementById("message").value = "";
      }
    </script>
  </body>
</html>
